@import url('https://fonts.googleapis.com/css2?family=Island+Moments&family=Quicksand:wght@300&family=Righteous&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Quicksand', serif;
}

h1 {
    font-family: 'Righteous', serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

button,
input[type="submit"] {
    cursor: pointer;
    font-family: inherit;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    background-color: #fbfbff;
}

.heading-section {
    position: relative;
    padding: 1em 0;
}

#top-banner {
    background-color: #000018;
    color: #fff;
    padding: .8em;
}

.title {
    padding-left: 1em;
}

.title h1 {
    display: inline-block;
    font-size: 2.5em;
    color: #000018;
}

.title i {
    transform: scale(1.5);
    position: relative;
    bottom: 0.5em;
    color: #744300;
    padding-right: .2em;
}

.title h3 {
    font-size: 0.8em;
}

.main-nav {
    position: absolute;
    top: 2em;
    right: 3em;
}

.main-nav ul {
    display: flex;
}

.main-nav ul li {
    position: relative;
}

.main-nav ul li a {
    color: #000018;
    padding: .5em;
    font-size: .9em;
}

.main-nav ul li::after {
    position: absolute;
    content: '';
    bottom: -2px;
    right: 0;
    width: 100%;
    height: 2px;
    background-color: #744300;
    border-radius: 2px;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 400ms ease-in-out;
}

.main-nav ul li:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}

main {
    min-height: 100vh;
    width: 100%;
}

main h1 {
    padding: 1em 0;
    text-align: center;
    font-size: 2.2em;
}

#hero {
    min-height: 70vh;
    padding: 1em;
    background-image: url('bgs/pexels-photo-8112107.jpeg');
    background-size: 100% 100%;
    background-color: #000018e0;
    color: #fff;
    background-blend-mode: darken;
    background-attachment: fixed;
    overflow: hidden;
}

#hero h2 {
    color: #744300;
    font-size: 2.2em;
    position: relative;
    left: 100vw;
    animation: title 700ms 200ms forwards;
}

@keyframes title {
    to {
        left: 0;
    }
}

#hero p {
    max-width: 600px;
    line-height: 1.5;
    font-size: 1.8em;
    clip-path: inset(0 0 100% 0);
    animation: text 1500ms 600ms forwards;
}

@keyframes text {
    to {
        clip-path: inset(0 0 0 0);
    }
}

.action {
    background-color: #744300;
    color: #fff;
    border: none;
    padding: 1em 2em;
    border-radius: 2px;
    cursor: pointer;
    position: relative;
    bottom: -200px;
    animation: action 1s 1500ms forwards;
}

@keyframes action {
    to {
        bottom: 0;
    }
}

.action:hover {
    background-color: #744400ec;
}

#about .partner {
    display: none;
}

#about .partner.active {
    display: unset;
}

#about {
    position: relative;
}

#about .ceo-text {
    padding: 1em;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#about img {
    width: 300px;
    height: 300px;
    border-radius: 2px;
    box-shadow: -.5em .5em 0px #744300;
    transition: 1s;
}

#about img:hover {
    box-shadow: -.8em .8em 0px #744300;
}

#about figcaption {
    text-align: center;
    transform: translate(120px, -150px) rotateZ(90deg);
    z-index: 260;
    color: #fff;
    font: 2.45em italic;
    font-family: 'Island Moments', serif;
}

#about section {
    padding: 1em;
}

#about p {
    max-width: 600px;
}

#about h5 {
    text-align: center;
    margin-top: 1em;
}

#about button {
    position: absolute;
    top: 50%;
    background: transparent;
    border: none;
}

#about button i {
    transform: scale(1.5);
}

#about .next {
    right: 1em;
}

#about .previous {
    left: 1em;
}

.rate-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: #000018;
    min-height: 150px;
}

.rate-card article {
    width: 280px;
    padding: 2em 0;
}

.rate-card h2,
#practice-areas h5 {
    color: #744300;
    text-align: center;
}

.rate-card h3 {
    text-align: center;
    color: #fff;
}

#practice-areas {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    grid-gap: 1em;
}

#practice-areas article {
    background-color: #000018;
    background-blend-mode: darken;
    min-height: 180px;
    min-width: 220px;
    padding-bottom: 3em;
    position: relative;
    border-radius: 5px;
    transition: all 400ms ease-in-out;
}

#practice-areas article:hover {
    cursor: pointer;
    transform: translateY(-5px);
    background-color: #000018f3;
}

#practice-areas i,
.rate-card i {
    padding-left: .5em;
}

#practice-areas h5 {
    padding: 1em;
    font-size: 1.2em;
}

#practice-areas p {
    max-width: 150px;
    color: #fff;
    font-size: .8em;
}

#practice-areas article section {
    flex-direction: column;
}

.btn {
    padding: .5em;
    border: none;
    border-radius: 2px;
}

.read-more {
    position: absolute;
    bottom: .2em;
    right: 50%;
    transform: translateX(50%);
    transition: all 500ms ease-in-out;
}

.read-more:hover {
    cursor: pointer;
    background-color: transparent;
    border: 1px solid #744300;
    color: #fff;
}

#consultation article {
    background-color: #744300;
    padding: 2em .4em;
    display: flex;
    justify-content: center;
    align-items: center;
}

#consultation article p {
    font-size: 1.8em;
    padding-right: 1em;
}

#consultation form {
    padding: 2em;
    flex-direction: column;
}

#consultation label {
    display: block;
    padding: .5em 0 0 .3em;
}

#name,
#email,
#message {
    padding: .4em;
    border: 1px solid #000018;
    outline-color: #744300;
    border-radius: 2px;
    width: 60vw;
}

#submit {
    border: none;
    cursor: pointer;
    padding: .7em .9em;
    border-radius: 20px;
    color: #fff;
    width: 100%;
    background-color: #744300;
    margin-top: 1em;
}

#blog section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1em;
    place-items: center;
}

#blog article {
    width: 250px;
    height: 270px;
    border: 1px solid #744300;
    border-radius: 3px;
    position: relative;
    cursor: pointer;
    overflow: hidden;
}

#blog img {
    width: 100%;
    height: 180px;
    transition: all 300ms ease-in-out;
}

#blog div {
    position: absolute;
    background-color: #000018;
    bottom: 0;
    left: 0;
    height: 90px;
    padding: 0 1em;
}

#blog h4 {
    color: #744300;
}

#blog p {
    font-size: .8em;
    color: #fff;
}

.more-blog {
    background-color: #744300;
    color: #fff;
    float: right;
    transform: translateY(calc(100% + 1em));
    transition: transform 400ms ease-in-out;
}

#blog article:hover .more-blog {
    transform: translateY(0);
}

#blog article:hover img {
    opacity: 0.9;
}

footer {
    min-height: 10vh;
    padding: 1em;
    color: #fff;
    background-color: #000;
    margin-top: 1em;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1em;
    position: relative;
}

footer address {
    font-style: normal;
    padding-left: 2em;
}

footer ul {
    line-height: 1.5;
}

footer h3,
footer h6 {
    color: #744300;
    padding-bottom: .5em;
}

footer form {
    margin-top: 1em;
}

footer i {
    padding-right: 0.4em;
    color: #744300;
}

#quick-links li {
    font-size: .9em;
    padding-left: 1em;
}

#quick-links a {
    color: #fff;
    text-decoration: underline;
}

.to-top {
    position: absolute;
    top: -2em;
    right: .5em;
    background: transparent;
    border: none;
    outline: none;
}

.to-top i {
    transform: scale(2);
}

#foot-email {
    padding: .5em;
    outline: none;
}

footer button {
    padding: .2em;
}

@media (max-width:700px) {
    .main-nav {
        display: none;
    }
    #about .ceo-text {
        flex-direction: column;
    }
    #practice-areas,
    footer {
        grid-template-columns: repeat(2, 1fr);
    }
    .more-blog {
        transform: unset;
    }
}

@media (max-width:540px) {
    #practice-areas,
    #blog section,
    footer {
        grid-template-columns: repeat(1, 1fr);
    }
    footer address {
        padding-left: 0em;
    }
}