@import url('https://fonts.googleapis.com/css2?family=Island+Moments&family=Open+Sans:ital,wght@0,300;1,300&family=Ubuntu:wght@300;400&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Open Sans', serif;
}

h1 {
    font-family: 'Ubuntu', serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

button {
    cursor: pointer;
    font-family: inherit;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    background-color: rgb(238, 236, 236);
}

.heading-section {
    position: relative;
    padding: 1em 0;
}

#top-banner {
    background-color: #000018;
    color: #fff;
    padding: .8em;
}

.title {
    padding-left: 1em;
}

.title h1 {
    display: inline-block;
    font-size: 2.5em;
    color: #000018;
}

.title i {
    transform: scale(1.5);
    position: relative;
    bottom: 0.5em;
    color: #744300;
    padding-right: .2em;
}

.title h3 {
    font-size: 0.8em;
}

.main-nav {
    position: absolute;
    top: 2em;
    right: 3em;
}

.main-nav ul {
    display: flex;
}

.main-nav ul li {
    position: relative;
}

.main-nav ul li a {
    color: #000018;
    padding: .5em;
    font-size: .9em;
}

.main-nav ul li::after {
    position: absolute;
    content: '';
    bottom: -2px;
    right: 0;
    width: 100%;
    height: 2px;
    background-color: #744300;
    border-radius: 2px;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 400ms ease-in-out;
}

.main-nav ul li:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}

main {
    min-height: 100vh;
    width: 100%;
}

main h1 {
    padding: 1em 0;
    text-align: center;
    font-size: 2.2em;
}

#hero {
    min-height: 70vh;
    background-image: url('bgs/pexels-photo-5669619.jpeg');
    background-size: 100% 100%;
    background-color: #000018e0;
    color: #fff;
    background-blend-mode: darken;
    overflow: hidden;
}

#hero h2 {
    color: #744300;
    font-size: 2.2em;
    position: relative;
    left: 100vw;
    animation: title 700ms 200ms forwards;
}

@keyframes title {
    to {
        left: 0;
    }
}

#hero p {
    max-width: 600px;
    line-height: 1.5;
    font-size: 1.8em;
    clip-path: inset(0 0 100% 0);
    animation: text 1500ms 600ms forwards;
}

@keyframes text {
    to {
        clip-path: inset(0 0 0 0);
    }
}

.action {
    background-color: #744300;
    color: #fff;
    border: none;
    padding: 1em 2em;
    border-radius: 2px;
    cursor: pointer;
    position: relative;
    bottom: -200px;
    animation: action 1s 1500ms forwards;
}

@keyframes action {
    to {
        bottom: 0;
    }
}

.action:hover {
    background-color: #744400ec;
}

#about-us {
    /* min-height: 150vh; */
}

#about {
    position: relative;
    min-height: 600px;
}

#about .partner {
    position: absolute;
    top: 180px;
    left: 0;
    bottom: 0;
    right: 0;
    clip-path: inset(0 0 100% 0);
    transform-origin: top;
    transition: 1s;
}

#about .partner.active {
    clip-path: inset(0 0 0 0);
    transform-origin: bottom;
    z-index: -1;
}

#about .ceo-text {
    padding: 1em;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#about img {
    width: 300px;
    height: 300px;
    border-radius: 2px;
    box-shadow: -.5em .5em 0px #744300;
    transition: 1s;
}

#about img:hover {
    transform: translateY(-2px);
    box-shadow: -.8em .8em 0px #744300;
}

#about figcaption {
    text-align: center;
    transform: translateY(-50px);
    z-index: 3;
    color: #fff;
    font: 2.45em italic;
    font-family: 'Island Moments', serif;
    background-color: #000018;
}

#about section {
    padding: 1em;
}

#about p {
    max-width: 600px;
}

#about h5 {
    text-align: center;
    margin-top: 1em;
}

.rate-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: #000018;
    height: 150px;
}

.rate-card article {
    width: 280px;
}

.rate-card h2,
#practice-areas h5 {
    color: #744300;
    text-align: center;
}

.rate-card h3 {
    text-align: center;
    color: #fff;
}

#practice-areas {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    grid-gap: 1em;
}

#practice-areas article {
    background-color: #000018;
    background-blend-mode: darken;
    min-height: 180px;
    min-width: 220px;
    padding-bottom: 3em;
    position: relative;
    border-radius: 5px;
    transition: all 400ms ease-in-out;
}

#practice-areas article:hover {
    cursor: pointer;
    transform: translateY(-5px);
    background-color: #000018f3;
}

#practice-areas i,
.rate-card i {
    padding-left: .5em;
}

#practice-areas h5 {
    padding: 1em;
    font-size: 1.2em;
}

#practice-areas p {
    max-width: 150px;
    color: #fff;
    font-size: .8em;
}

#practice-areas article section {
    flex-direction: column;
}

.btn {
    padding: .5em;
    border: none;
    border-radius: 2px;
}

.read-more {
    position: absolute;
    bottom: .2em;
    right: 50%;
    transform: translateX(50%);
    transition: all 500ms ease-in-out;
}

.read-more:hover {
    cursor: pointer;
    background-color: transparent;
    border: 1px solid #744300;
    color: #fff;
}

#consultation article {
    background-color: #744300;
    padding: 2em 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#consultation article p {
    font-size: 1.8em;
    padding-right: 1em;
}

#consultation form {
    padding: 2em;
    flex-direction: column;
}

#consultation label {
    display: block;
    padding: .5em 0 0 .3em;
}

#name,
#email,
#message {
    padding: .4em;
    border: 1px solid #000018;
    outline-color: #744300;
    border-radius: 2px;
}

#submit {
    border: none;
    cursor: pointer;
    padding: .7em .9em;
    border-radius: 20px;
    color: #fff;
    width: 100%;
    background-color: #744300;
    margin-top: 1em;
}

#blog section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1em;
    place-items: center;
}

#blog article {
    width: 250px;
    height: 270px;
    border: 1px solid #744300;
    position: relative;
    cursor: pointer;
    overflow: hidden;
}

#blog img {
    width: 100%;
    height: 180px;
    transition: all 300ms ease-in-out;
}

#blog div {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 90px;
    padding: 0 1em;
}

#blog h4 {
    text-decoration: underline;
}

#blog p {
    font-size: .8em;
}

.more-blog {
    background-color: #000018;
    color: #fff;
    float: right;
    transform: translateY(calc(100% + 1em));
    transition: transform 400ms ease-in-out;
}

#blog article:hover .more-blog {
    transform: translateY(0);
}

#blog article:hover img {
    opacity: 0.9;
}

footer {
    min-height: 50vh;
    color: #fff;
    background-color: #000018;
    margin-top: 1em;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}